ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}
/* Header */

.page-header {}

.page-nav {}

.logo {}

.menu {}

.menu-item {}

.menu-link {}

.adress {}

.adress-list {}

.adress-item {}

.adress-link {}

/* Hero */